<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head>
    <title>Flanderous Music Repository</title> 
    <link rel="stylesheet" href="<%= root %>/style/main.css" type="text/css"> 
  </head>
  <body>
    <div id="session">
      <span style="display: none" id="logged_in">
        <span>Welcome <span id="username">-</span>.&nbsp;&nbsp;</span>
        <span id="post">post,&nbsp;</span>
        <span id="logout">logout</span>
      </span>
      <span style="display: none"  id="logged_out">
        <form action="/_session" method="post">
          <input type="text" name="username" />
          <input type="password" name="password" />
          <input type="button" value="login" />
        </form>
      </span>
      <span id="logo"><a href="<%= root %>/_list/posts/threads">
        F&nbsp;-&nbsp;M&nbsp;-&nbsp;R&nbsp;&nbsp;
      </a></span>
    </div>

    <div style="display:none" id="_post_form">
        <form action="" method="post">
          <table>
              <tr><th><span>title:</span></th><td><input type="text" name="title" maxlength="80" /></td></tr>
              <tr><th><span>body:</span></th><td><textarea rows="5" cols="100" name="body"></textarea></td></tr>
              <input type="hidden" name="path" value="" />
          </table>
        </form>
        <form file_form="true" action="" method="post" enctype="multipart/form-data">
          <table>
            <tr>
              <th><span>file:</span></th>
              <td>
                <input type="hidden" name="_rev" value="">
                <input type="file" name="_attachments" />
              </td>
            </tr>
          </table>
        </form>
        <table>
          <tr>
            <th><span>&nbsp;</span></th>
            <td><input post_form_submit="true" type="button" value="submit" /></td>
          </tr>
          <tr><th><span>preview:</span></th><td><div preview="true"></div></td></tr>
        </table>
    </div>

    <div id="wrapper">    
