<span id="respond_inline" style="display: none;">&rarr;</span>

</body>
  
<script src="/_utils/script/json2.js"></script> 
<script src="/_utils/script/jquery.js"></script> 
<script src="<%= root %>/lib/jquery.couch.js?905483"></script>
<script src="<%= root %>/vendor/couchapp/jquery.couch.app.js"></script> 
<!--script src="<%= root %>/vendor/couchapp/jquery.couch.app.account.js"></script> 
<script src="<%= root %>/vendor/couchapp/jquery.couchapp.login.js"></script--> 
<script src="<%= root %>/lib/sha1-min.js"></script> 
<script src="<%= root %>/lib/template.js"></script> 
<script src="<%= root %>/lib/jquery.form.js"></script>
<script src="<%= root %>/lib/jqModal.js?20090301"></script> 
<script src="<%= root %>/lib/jquery.tools.js"></script> 
<script src="<%= root %>/fmrJS/settings.js"></script>   
<script src="<%= root %>/fmrJS/fmr.js"></script>   
<script src="<%= root %>/fmrJS/app.js"></script>   
<script src="<%= root %>/wmd/wmd.js"></script>   

</html>