</body>
  
  <!-- 
  <script src="/_utils/script/json2.js"></script> 
  <script src="/_utils/script/jquery.js"></script> 
  <script src="<%= root %>/jquery.couch.js"></script>
  <script src="<%= root %>/vendor/couchapp/jquery.couch.app.js"></script> 
  <script src="<%= root %>/vendor/couchapp/jquery.couch.app.account.js"></script> 
  <script src="<%= root %>/vendor/couchapp/jquery.evently.js"></script> 
  <script src="<%= root %>/vendor/mustache/jquery.mustache.js"></script> 
  <script src="<%= root %>/vendor/sammy/sammy.js"></script> 
  <script src="<%= root %>/vendor/sammy/plugins/sammy.mustache.js"></script> 
  <script src="<%= root %>/html.js"></script> 
  <script src="<%= root %>/fmrJS/app.js"></script> 
  <script src="<%= root %>/sha1-min.js"></script> 
    -->
<script src="/_utils/script/json2.js"></script> 
<script src="/_utils/script/jquery.js"></script> 
<script src="/_utils/script/jquery.cookies.js?0.9.0"></script> 
<script src="<%= root %>/sha1-min.js"></script> 
<script src="<%= root %>/jquery.couch.js?905483"></script>
<script src="<%= root %>/vendor/mustache/jquery.mustache.js"></script>
<script src="<%= root %>/vendor/couchapp/jquery.evently.js"></script>
<script src="<%= root %>/vendor/couchapp/jquery.couch.app.js"></script> 
<script src="<%= root %>/vendor/couchapp/jquery.couch.app.account.js"></script> 
<script src="<%= root %>/vendor/couchapp/jquery.couchapp.login.js"></script> 
<script src="<%= root %>/vendor/sammy/sammy.js"></script>
<script src="<%= root %>/vendor/sammy/plugins/sammy.mustache.js"></script>
<script src="<%= root %>/jquery.form.js"></script>
<script src="<%= root %>/jqModal.js?20090301"></script> 
<script src="<%= root %>/fmrJS/fmr.js"></script>   
<script src="<%= root %>/fmrJS/app.js"></script>   
<script src="<%= root %>/wmd/wmd.js"></script>   

</html>